@use "./../../../styles/abstracts/index" as *;

/* ==================================================
   HERO SECTION
================================================== */

.hero {

  background: linear-gradient(135deg,
      alpha($color-primary, 0.05),
      alpha($color-white, 1));
      // background-color: red;

  &__container {
    @include container;
    display: grid;
    gap: $space-3xl;
    align-items: center;

    @include respond(lg) {
      grid-template-columns: 1.1fr 1fr;
    }
  }

  /* ================= CONTENT ================= */

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
  }

  &__button {
    @include button-base;
    box-shadow: shadow(sm);
    align-self: flex-start;
  }

  /* ================= TAGS ================= */

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $space-sm;
    margin-top: $space-md;
  }

  &__tag {
    padding: $space-xs $space-md;
    font-size: $fs-xs;
    font-weight: $fw-medium;
    border-radius: $radius-pill;
    background: alpha($color-primary, 0.1);
    color: $color-primary;
  }

  @include respond(xs) {
    &__tag {
      font-size: $fs-xs;
    }
  }

  /* ================= IMAGE ================= */

  &__image-wrapper {
    display: flex;
    justify-content: center;

    @include respond(lg) {
      justify-content: flex-end;
    }
  }

  &__image {
    width: 100%;
    max-width: rem(520);
    height: auto;
  }
}